.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__input-container {
  border: none;
}

.react-datepicker {
  font-weight: 400;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.react-datepicker__input-container input {
  outline: none;
}

.react-datepicker__current-month {
  color: #e5e5e5;
}

.react-datepicker__day:hover {
  background: #33435b;
}
.react-datepicker__day--selected {
  background: #33435b;
}
.react-datepicker__day--in-range {
  background: rgba(33, 107, 165, 0.75);
}

.react-datepicker__input-container input:focus {
  border: 1px solid #33435b;
  background: #e5e5e5;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background: #33435b;
  color: #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.react-datepicker__day-name {
  color: #e5e5e5;
}

.react-datepicker__day--keyboard-selected {
  background-color: #33435b;
  border-radius: 50%;
}

.react-datepicker__day:hover {
  border-radius: 50%;
}

.react-datepicker__input-container input {
  box-sizing: border-box;
  height: 54px;
  width: 100%;
  border-radius: 4px;
  padding: 0 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  background-color: #767b83;
}

input::placeholder {
  color: #e6e8ec;
}
